<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel plan by H</title>
  <meta name="description" content="You can see your travel day weather by location and date">
  <link rel="shortcut icon" href="#">

  <!-- <link rel="stylesheet" href="../styles/styles.css"> -->

</head>

<body>
  <div id="title">
    <h1>Travel Plan</h1>
  </div>
  <div class="itinerary">
    <h2>Itinerary</h2>
    Enter your trip period
    <form class="" onsubmit="return Client.handleSubmit(event)">
      <div id="period">
        <label for="start">Start date:</label>
        <input type="date" id="start-date" name="trip-start" value="2018-07-22" min="2018-07-01" max="2018-07-31">
        <label for="end">End date:</label>
        <input type="date" id="end-date" name="trip-end" value="2018-07-22" min="2018-07-01">
      </div>
      Enter your trip place
      <div id="place">
        <input type="test" id="place-input" placeholder="City">
      </div>
      <!-- <button id="generate" type="submit"> Get info of this travel</button> -->
      <input id="generate" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
        onsubmit="return Client.handleSubmit(event)">
    </form>
  </div>

  <div class="before-submit">
    <h4>The weather and visual info of the place will be displayed here.</h4>
    Comment : this section will be hidden after getting weather and picture information
  </div>
  <div class="after-submit">
    Comment : this sectioni will be hidden before getting weather and picture information
    <div class="travel-info">
      <h4 class="travel-summary">You will depart to the City on date. Your will travle the City for 300 days.</h4>
      <div id="place-visual">
        Image will be displayed here
        <div class="place-img">

        </div>
        <div class="place-tag">

        </div>


      </div>
      <div class="weather">
        Weather info will be displayed here
        for 1st week of your travel.
        <div class="weather-list">

        </div>
      </div>
    </div>
  </div>
  <div id="error-message"></div>

  <footer>
    © Haley Seo
  </footer>
  <!-- <script src="../js/app.js"></script> -->
</body>

</html>